.in4__img-contact {
  height: calc(200px + 28vw);
}
.fingerdown {
  font-size: calc(28px + 4vw);
}

.contact {
  display: flex;
  &__inf {
    width: calc(288px + 10vw);
    flex-shrink: 0;
    background-color: #488b8f;
    border-radius: 32px;
    margin: 30px 15px;
    padding: 15px;
  }

  &__icon {
    font-size: calc(28px + 3vw);
  }

  &__link {
    color: #000000;
  }
}

.phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  color: #fff;
  text-align: center;
  font-family: "Noto Sans Kannada";
  font-size: calc(0.9vw + 13px);
  font-weight: 400;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.imgTikTok {
  width: calc(29px + 4vw);
  margin: 0px -0.5vw;
}

@media screen and (max-width: 1400px) {
  .contact {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
