.cirti {
  &__img-cover {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__img {
    width: calc(316px + 20vw);
    margin: 0px calc(12px + 2vw);
  }
  &__title {
    margin-left: 100px;
    color: #1e1e1e;
    font-family: "Black Ops One";
    font-size: calc(20px + 2vw);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.degree {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardDegree {
  width: calc(68px + 60vw);
  height: 110px;

  border: 1px solid black;
  border-radius: 32px;
  margin: calc(11px + 1vw) calc(8px + 9vw);

  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
  &__text {
    color: #000;
    font-family: "Noto Sans Kannada";
    font-size: calc(13px + 1.5vw);
    font-weight: 700;
    margin-left: calc(1vw);
    margin-top: calc(12px + 0.5vw);
  }

  &__expand {
    font-size: calc(13px + 1.5vw);
    color: #000;
    margin-right: calc(13px + 1.5vw);
  }
}

.cardDegree--expand {
  width: calc(68px + 60vw);
  height: 500px;
  padding: calc(3vw + 12px);
  border: 1px solid black;
  border-radius: 32px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 20px 0px;

  &__inf4 {
    width: calc(32px + 40vw);

    border-radius: 32px;
    background: #5ea3a3;
  }

  &__school {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(54px + 5vw);
    background: #add2c9;
    border-radius: 32px;

    &__name {
      color: #000;
      font-family: "Noto Sans Kannada";
      font-size: calc(13px + 1.5vw);
      font-weight: 700;
    }

    &__year {
      color: #000;
      font-family: "Noto Sans Kannada";
      font-size: calc(6px + 1vw);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    &__des {
      margin: calc(12px + 2vw) 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      &__detail {
        width: calc(120px + 25vw);
        color: #000;
        font-family: "Noto Sans Kannada";
        font-size: calc(10px + 1vw);
        font-weight: 700;
      }
    }
  }

  &__img {
    width: calc(112px + 15vw);
    height: calc(112px + 15vw);
    margin: 20px;
  }
}

.close {
  font-size: calc(13px + 1.5vw);
  color: #000;
  position: relative;
}

@media screen and (max-width: 1400px) {
  .cardDegree--expand {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .cirti {
    &__img-cover {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
