.education {
  background-color: var(--primary);
  min-height: fit-content;
  width: 100%;
  padding-bottom: 50px;
  &__title {
    font-family: "Press Start 2P";
    font-size: calc(20px + 1.3vw);
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    margin-bottom: 4px;
    color: var(--secondary);
  }

  &__dot {
    width: 5vw;
    min-width: 50px;
    max-width: 70px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--secondary);
    margin: 20px auto;
  }

  &__description {
    font-size: calc(16px + 0.2vw);
    width: 90%;
    max-width: 900px;
    margin: auto;
    padding: 8px;
    text-align: center;
    text-wrap: stable;
    margin-bottom: 30px;
    color: var(--secondary);
  }

  &__detail {
    display: flex;
    gap: 100px;
    padding: 8px 100px;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.edu-card {
  position: relative;
  min-width: 300px;
  min-height: 200px;
  flex-basis: 300px;
  flex-shrink: 0;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.edu-card img {
  width: 120px;
  height: 120px;
  display: flex;
  flex-shrink: 0;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.edu-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.edu-card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.edu-card:hover .edu-card__content {
  transform: rotateX(0deg);
}

.edu-card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.edu-card:hover img {
  scale: 0;
}

.edu-card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1;
}
