.interst {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__name {
    color: #000;
    font-family: "Black Ops One";
    font-size: calc(20px + 3.2vw);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: calc(12px + 2vw) 0px;
  }
  .interst--cover {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: calc(340px + 75vw);
  }
  .interst--cover-reverse {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: calc(340px + 75vw);
  }
  &__des {
    color: #000;
    text-align: center;
    font-family: "Noto Sans Kannada";
    font-size: calc(13px + 1.5vw);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: calc(200px + 32vw);
  }
  &__des1 {
    color: #000;
    text-align: center;
    font-family: "Noto Sans Kannada";
    font-size: calc(13px + 1.5vw);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: calc(200px + 32vw);
  }
  &__img {
    width: calc(200px + 32vw);
    margin-top: 10px;
  }

  &__img2 {
    height: calc(100px + 16vw);
    margin: 20px 0px;
  }
}

@media screen and (max-width: 1400px) {
  .interst {
    .interst--cover,
    .interst--cover-reverse {
      display: flex;
      flex-direction: column;
    }
  }
}
