.navbarCustom {
  display: flex;
  
  background-color: #e9e6e6;
  position: sticky;
  top: 0;
  width: 100%; /* Ensure it spans the full width */
  z-index: 1000; /* Ensure it stays on top of other elements */
  padding: 10px;
}

.signature {
  color: #31353b;
  font-family: "Press Start 2P";
  font-size: calc(28px + 0.5vw);
  font-weight: 400;
  text-decoration-line: underline;
  cursor: default;
  padding: 10px;
}

.navlink {
  margin-left: 1.5vw;
  color: #31353b;
  font-family: "Press Start 2P";
  font-size: 1vw;
  font-weight: 400;
  text-decoration: none;
  margin: auto;
  cursor: pointer;
  &:hover {
    color: black;
  }
}

.navlink-collapse {
  margin-left: 3.5vw;
  color: #488b8f;
  font-family: "Noto Sans Kannada";
  font-size: calc(12px + 0.5vw);
  font-weight: 400;
  text-decoration: none;
  &:hover {
    color: #add2c9;
  }
}

.btn-toggle {
  outline: none;
  border: none;

  cursor: pointer;

  width: calc(42px + 1vw);
  height: calc(23px + 1vw);
  border-radius: 50%;
}

a {
  text-decoration: none;
}

.menu {
  display: flex;
  flex-wrap: wrap;
}
