.projectlist {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0px calc(20px + 2vw);
  &__card {
    width: 500px;
    height: 250px;

    border-radius: 10px;
    background: #c4ded8;

    margin: 25px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-decoration: none;
    &__name {
      color: #000;
      font-family: "Noto Sans Kannada";
      font-size: 30px;
      font-weight: 700;
      margin: 30px;
    }

    &__des {
      width: 384px;
      text-align: center;
      color: #000;
      font-family: "Noto Sans Kannada";
      font-size: 20px;
      font-weight: 400;

      margin-top: -15px;
    }

    &__date {
      color: rgba(0, 0, 0, 0.5);
      font-family: "Noto Sans Kannada";
      font-size: 16px;
      font-weight: 400;
      margin-top: 10px;
    }

    &__icon {
      margin-top: 10px;
      display: flex;
    }
  }
}

.btn-view-more {
  padding: 20px 20px 14px 20px;
  width: calc(1vw + 170px);
  flex-shrink: 0;
  border-radius: 30px;
  background: #488b8f;

  color: #000;
  text-align: center;
  font-family: "Noto Sans Kannada";
  font-size: calc(13px + 0.5vw);
  font-weight: 400;

  display: flex;
  justify-content: center;

  margin: auto auto;
}
