.projectlist {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  width: 80%;
  max-width: 1200px;
  min-width: 500px;
  margin: auto;
  margin-bottom: 50px;
  &__card {
    width: 400px;
    height: fit-content;
    background: var(--gray);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    max-width: 32rem;

    &__name {
      color: var(--secondary);
      font-size: clamp(12px, 12px + 1vw, 20px);
      margin: 20px 0px;
      color: #4ade80;
    }

    &__des {
      display: flex;
      align-items: flex-start;
      gap: 6px;
      width: 384px;
      text-align: left;
      color: var(--secondary);
      font-size: clamp(12px, 10px + 1vw, 16px);
      font-weight: 400;
    }

    &__date {
      color: var(--secondary);
      font-size: 16px;
      font-weight: 400;
      display: flex;
      gap: 6px;
    }

    &__icon {
      display: flex;
    }
  }
}
.projects {
  background-color: var(--secondary);
  min-height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    font-family: "Press Start 2P";
    font-size: calc(20px + 1.3vw);
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    margin-bottom: 4px;
  }

  &__dot {
    width: 5vw;
    min-width: 50px;
    max-width: 70px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--primary);
    margin: 20px auto;
  }
}

.circle-cover {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.circle-deco {
  width: 12px;
  height: 12px;
  border-radius: 100%;
}
.text-project {
  color: #4ade80;
}

.circle-red {
  background-color: #ef4444;
}

.circle-yellow {
  background-color: #f59e0b;
}

.circle-green {
  background-color: #10b981;
}
